@import "_mixins";
@import "_variables";
@import "../vendor/assets/components/bootstrap/scss/bootstrap";
@import "accessibility";
@import "header";
@import "content";

* {
  box-sizing: border-box;
}

body {
  
  position: relative;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  
  .site {
    
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    
    .page-header {
      margin-top: 0;
    }
    
    header {
      > h1, 
      > h2, 
      > h3, 
      > h4 {
        margin-top: 0;
      } 
    }
    
    footer.entry-footer > * {
      display: block;
    }
    
  }
  
  article {
    margin-bottom: 50px;
  }
  
}
.jumbotron {
  min-height: 400px;
  overflow: hidden;
  img {
    width: auto;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
  }
  h1,
  h1+p {
    position: relative;
  }
}
