// https://codepen.io/karldanninger/pen/NwzMzN
.prllx {
  position: absolute;
  height: 120%;
  width: 100%;
  z-index: -1;
  will-change: transform;
  backface-visibility: hidden;

  &-container {
    // perspective: 1px;
    // transform-style: preserve-3d;
    // height: 100vh;
    // overflow-x: hidden;
    // overflow-y: scroll;
    position: absolute;
    // height: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  &-bg {
    // display: flex;
    // flex: 1 0 auto;
    // // position: relative;
    // z-index: -1;
    // // height: 100vh;
    // justify-content: center;
    // align-items: center;
    // transform: translateZ(-1px) scale(2);
    // background: url('https://www.toptal.com/designers/subtlepatterns/patterns/sakura.png');
    // background-color: rgb(250,228, 216);
  }

  &-content {
    // display: block;
    // position: relative;
    // background-color: white;
    // z-index: 1;
  }
}
