# Eclipse
.settings
.project

# GFM Preview
.README.md.html

# Mac OS
.DS_Store

# Node
node_modules
**/node_modules
npm-debug.log

# Composer
vendor
composer.phar

# Test
test

# Wordpress
wp-core
wp-content/*
!wp-content/themes

# PHPLoy
phploy.phar
deploy.ini
phploy.ini

# Env Files
.env-*
.env

# Include sample files
!/*-sample
