# Eclipse
.settings
.project

# Mac OS
.DS_Store

# Node
node_modules
**/node_modules

# Composer
vendor
composer.phar
composer.lock

# Build
tmp
dist

# Test
test

# App dependencies
wp-content/mu-plugins/**
wp-content/plugins/** 

# Theme assets
wp-content/themes/**/_assets

# PHPLoy
phploy.phar
deploy.ini

# Wordpress
wp-core