# Eclipse
.settings
.project

# Mac OS
.DS_Store

# Node
node_modules
**/node_modules

# Composer
vendor
composer.phar
composer.lock

# Test
test

# Wordpress
wp-core
!wp-content/themes
wp-content

# PHPLoy
phploy.phar
!deploy.ini-sample
deploy.ini
!phploy.ini-sample
phploy.ini

# Env Files
!.env-sample
.env
.env-*