SetEnv ENV=production
SetEnvIf Remote_Addr ^127\.0\.0\.1 ENV=development # Development
SetEnvIf Host ^kicks-app-demo\. ENV=test # Staging
SetEnvIf ENV ^development$ ENV_FILE=.env
SetEnvIf ENV ^test$ ENV_FILE=.env-test
SetEnvIf ENV ^production$ ENV_FILE=.env-production
RewriteEngine On
RewriteRule ^([_0-9a-zA-Z-]+/)?wp-admin$ $1wp-admin/ [R=301,L]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(wp-(content|admin|includes).*) wp-core/$2 [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(.*\.php)$ wp-core/$2 [L]
RewriteRule . index.php [L]
<FilesMatch "^.env">
  order allow,deny 
  deny from all 
</FilesMatch>