; This is a sample deploy.ini file. You can specify as many
; servers as you need and use normal or quickmode configuration.
;
; NOTE: If a value in the .ini file contains any non-alphanumeric 
; characters it needs to be enclosed in double-quotes (").

[test]
branch = dev
scheme = ftp
user = w014ba8c
pass = Wapu77ZMP2TE
host = benignware.com.w014ba8c.kasserver.com
path = /kunsthaus.benignware.de/
port = 21
passive = true
; File permission set on the uploaded files/directories
permissions = 0700
; Files that should be ignored and not uploaded to your server, but still tracked in your repository
exclude[] = '*.ini'
; Files that are ignored by Git, but you want to send to the server
;include[] = 'wp-core'
;include[] = 'vendor/lib/autoload.php'
;include[] = 'vendor/lib/vlucas/phpdotenv/src'
;include[] = 'vendor/lib/vlucas/phpdotenv/composer.json'
;include[] = 'vendor/lib/phpseclib/phpseclib'
;include[] = 'wp-content/themes/kicks-app/_assets'
;include[] = '.env'
;include[] = '.env-production'