.card {
  &-columns {
    @include media-breakpoint-down(md) {
      columns: 1;
    }
    @include media-breakpoint-up(md) {
      columns: 2;
    }
    .sidebar & {
      @include media-breakpoint-up(lg) {
        columns: 1;
      }
    }
  }
}
