.site {
  height: 100%;
  display: flex;
  min-height: 100%;
  flex-direction: column;

  .admin-bar & {
    // margin-top: 32px solid transparent;
  }

  &-header {
    $height: 56px;
    min-height: $height;
    background: rgba($dark, 0.86) !important;
    transition: visibility 0s linear, opacity 0.25s linear, color 0.25s linear;
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
    @extend .text-light;

    .navbar-brand,
    .navbar-nav .nav-link {
      @extend .text-light;
      transition: all 0.5s ease-in;
    }

    .header-image:not(.page-offset):not(.menu-active) & {
      background: transparent !important;
      @extend .text-dark;

      .navbar-brand,
      .navbar-nav .nav-link {
        @extend .text-dark;
        color: transparent !important;
        // @include media-breakpoint-up(lg) {
        //   color: transparent !important;
        // }
      }

      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 0.25s, opacity 0.25s linear, color 0.25s linear;
    }

    &.fixed-top,
    &.sticky-top {
      width: 100%;
      .admin-bar & {
        top: 32px;
        @media screen and (max-width: 783px) {
          top: 46px;
        }
        @media screen and (max-width: 600px) {
          position: sticky;
          top: 0;
          + * {
            margin-top: -56px;
          }
        }
      }
      + * {
        flex-basis: calc(100% - #{$height});
        &:before {
          content: '';
          display: block;
          padding-top: $height;
        }
      }
    }
  }

  &-content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
  }

  &-footer {
    flex: 0 1 auto;
    background: rgba($dark, 0.86) !important;
    min-height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav {
      margin-left: -$navbar-nav-link-padding-x/2;
      margin-right: -$navbar-nav-link-padding-x/2;

      &-item {
        padding-left: $navbar-nav-link-padding-x/2;
        padding-right: $navbar-nav-link-padding-x/2;
      }

      &-link {
        padding: 0 0.1rem;
        @extend .text-light;

        .fa-lg {
          vertical-align: middle;
        }
      }
    }
  }

  &-footer &-info {
    a {
      @extend .text-light;
    }
  }
}
