.widget {
  &-tag_cloud,
  &-custom-post-type-tag-cloud,
  &-search {
    border: 0;

    .card-header {
      display: none;
    }

    .card-body {
      padding: 0;
    }

    .form-group {
      margin-bottom: 0;
    }
  }

  .post-date {
    @extend .small;
  }
}
