$card-spacer-y:                     .5rem;
$card-spacer-x:                     1rem;
$card-border-width:                 $border-width !default;
$card-border-radius:                $border-radius !default;
$card-border-color:                 rgba($black, .125) !default;
$card-inner-border-radius:          calc(#{$card-border-radius} - #{$card-border-width}) !default;
$card-cap-bg:                       rgba($black, .03) !default;
$card-bg:                           transparent;

$card-img-overlay-padding:          .75rem;
//
$card-group-margin:                 ($grid-gutter-width / 2);
$card-deck-margin:                  $card-group-margin !default;

$card-columns-count:                3;
$card-columns-gap:                  $grid-gutter-width;
$card-columns-margin:               $card-spacer-y;
