// Light blue #A5CBE0
$border-color: rgba(0, 0, 0, .125);
// $border-color: $secondary;
$border-width: 1px;
$border-radius: 4px;

$badge-font-weight: $font-weight-bold;
$btn-font-weight: $font-weight-bold;


$grid-gutter-width: 30px;
