.site {
  height: 100%;
  .admin-bar & {
    margin-top: 32px;
  }
  &-header {
    margin-bottom: 3rem;
    position: fixed;
    width: 100%;
    z-index: 10;
    .navbar {
      border-radius: 0;
    }
    .admin-bar & {
      top: 46px;
      @media screen and (min-width: 783px) {
        top: 32px;
      }
    }
  }
  &-content {
    padding: 100px 0 50px;
    box-sizing: border-box;
    flex: 1 0 auto;
  }
  &-inner {
    height: 100%;
    display: flex;
    min-height: 100%;
    flex-direction: column;
  }
  &-footer {
    border-top: 1px solid $gray-lighter;
    padding: 1rem 0;
    flex-grow: 0;
  }
}