.site {
  height: 100%;
  background: #fff;
  .admin-bar & {
    margin-top: 32px;
  }
  &-header {
    &.pos-f-t-r {
      .admin-bar & {
        top: 32px;
        @media screen and (max-width: 783px) {
          top: 46px;
        }
        @media screen and (max-width: 600px) {
          position: absolute;
        }
      }
      + * {
        padding-top: 58px;
      }
    }
  }
  &-content {
    box-sizing: border-box;
    flex: 1 0 auto;
    padding: 2rem 0;
  }
  &-inner {
    height: 100%;
    display: flex;
    min-height: 100%;
    flex-direction: column;
  }
  &-footer {
    border-top: 1px solid $gray-lighter;
    padding: 1rem 0;
    flex-grow: 0;
  }
}
