.display {
  &-4 {
    @include media-breakpoint-down(lg) {
      font-size: 2.7rem;
    }

    @include media-breakpoint-down(md) {
      font-size: 2.3rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 1.9rem;
    }
  }
}
