body {
  
  position: relative;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  
  .site {
    
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    
    .page-header {
      margin-top: 0;
    }
    
    header {
      > h1, 
      > h2, 
      > h3, 
      > h4 {
        margin-top: 0;
      } 
    }
    
    footer.entry-footer > * {
      display: block;
    }
    
  }
  
  article {
    margin-bottom: 50px;
  }
  
}

.admin-bar .navbar-fixed-top {
  top: 46px;
}
@media screen and (min-width: 783px) {
  .admin-bar .navbar-fixed-top {
    top: 32px;
  }
}

.navbar-fixed-top + .container {
  padding-top: 80px;
}
