@include media-breakpoint-down(xs) {
  .navbar {
    .container {
      padding-left: 0;
    }
    .navbar-brand {
      float: none;
    }
    .navbar-toggler {
      font-size: 1.7rem;
      padding: 0.1rem 0.1rem 0.1rem 0;
    }
    .navbar-nav {
      .nav-item {
        float: none;
        + .nav-item {
          margin-left: 0;
        }
      }
      .dropdown-menu {
        float: none;
        position: static;
        background: transparent;
        color: inherit;
        border: 0;
        .dropdown-item {
          color: inherit;
          &:hover {
            background: inherit;
          }
        }
      }
    }
  }
}